<div class="container text-center">
    <h1>Login</h1><br>
<%= form_tag '/login', method: :post do |f|%>
  <p>
    <h4>Contact Number</h4>
    <%= text_field_tag :contact_num, params[:contact_num], :maxlength => 11 %>
  </p>
  <p>
    <h4>PIN Code</h4>
    <%= password_field_tag :password_digest, nil, :maxlength => 6  %><br>
    <%= link_to 'Forgot PIN?', forget_pin_path %>
  </p>
  <p class="btn btn-success"><%= submit_tag "Log in", :class => 'btn btn-success' %></p>
<% end %>
</div>
