<%= form_with(model: reward, local: true) do |form| %>
  <% if reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% reward.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :merchant_name %>
    <%= form.text_field :merchant_name %>
  </div>

  <div class="field">
    <%= form.label :reward_name %>
    <%= form.text_field :reward_name %>
  </div>

  <div class="field">
    <%= form.label :reward_value %>
    <%= form.text_field :reward_value %>
  </div>

  <div class="field">
    <%= form.label :expiry_date %>
    <%= form.date_select :expiry_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
