<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <div class="col-sm-12">
                <h2>Edit Profile Information</h2>
                <div class="col-xs-12 col-sm-8">
                    <p class="text center" id="notice"><%= notice %></p>
                    <p> <% if @user.try(:user_type) == "C" %>
                        <p><strong>First Name:</strong> <%= form.text_field :f_name %></p>
                        <p><strong>Last Name:</strong> <%= form.text_field :l_name %></p>
                        <% elsif @user.try(:user_type) == "A" %>
                        <p><strong>First Name:</strong> <%= form.text_field :f_name %></p>
                        <p><strong>Last Name:</strong> <%= form.text_field :l_name %></p>
                        <p><strong>Role:</strong> <%= form.text_field :role %></p>
                        <% else @user.try(:user_type) == "M"%>
                        <p><strong>Merchant Name:</strong> <%= form.text_field :merchant_name %></p>
                        <p><strong>Owner First Name:</strong> <%= form.text_field :owner_fname %></p>
                        <p><strong>Owner Last Name:</strong> <%= form.text_field :owner_lname %></p>
                        <% end %>
                    </p>
                    <p><strong>Current User Type:</strong>
                        <% if @user.try(:user_type) == "C" %>
                        CUSTOMER
                        <% elsif @user.try(:user_type) == "A" %>
                        ADMIN
                        <strong> - </strong> <%= @user.role %>
                        <% else @user.try(:user_type) == "M"%>
                        MERCHANT
                        <% end %>
                    </p>
                    <!-- <p><strong>User Type:</strong> <select name="user[user_type]" id="user_user_type">
                        <option value="A">Admin</option>
                        <option value="C">Customer</option>
                        <option value="M">Merchant</option>
                    </select></p> -->
                    <p><strong>Birthday: </strong> <%= form.date_select :birthday %></p>
                    <p><strong>Email: </strong> <%= form.text_field :email %> </p>
                    <p><strong>Contact No. </strong> <%= form.number_field :contact_num %> </p>
                    <p><strong>Address: <%= form.text_field :address %></p>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis text-center divider">
                    <!-- <h2><strong>PHP <%= form.text_field :balance, :size=>"5px" %></strong></h2> -->
                    <!-- <p><small>Balance</small></p> -->
                    <%= form.submit class: "btn btn-success btn-block", style: "color:white;"  %>
                    <%= link_to ' Show', @user, :class => "btn btn-primary btn-block fa fa-eye", :style => "color:white;" %>
                    <%= link_to ' Go Back', users_path, :class => "btn btn-secondary btn-block fa fa-hand-o-left", :style => "color:white;" %>
                </div>
                <%end%>
    	 </div>
		</div>
	</div>
</div>
