<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MagisCoin - Admin</title>

  <!-- Custom fonts for this theme -->
  <link href="../../stylesheets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="../../stylesheets/css/freelancer.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <%= link_to 'MagisCoin', users_path, :class => 'navbar-brand js-scroll-trigger' %>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <%= link_to 'Home', users_path, :class => 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger' %>
            </li>
          <li class="nav-item mx-0 mx-lg-1">
            <%= link_to 'Admin','users/new/admin', :class => 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger' %>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <%= link_to 'Customer', 'users/new/customer', :class => 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger' %>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <%= link_to 'Merchant', 'users/new/merchant', :class => 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<p id="notice"><%= notice %></p>
<div class="container">
	<div class="row">
        <div class="table-responsive col-md-12">
        <table id="sort2" class="grid table table-bordered table-sortable">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">First Name</th>
                    <th class="text-center">Last Name</th>
                    <th class="text-center">Birthday</th>
                    <th class="text-center">Role</th>
                    <th class="text-center">Merchant Name</th>
                    <th class="text-center">Owner's First Name</th>
                    <th class="text-center">Owner's Last Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Contact No.</th>
                    <th class="text-center">Address</th>
                    <th class="text-center">Balance</th>
                    <th class="text-center">User Type</th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.f_name %></td>
                    <td><%= user.l_name %></td>
                    <td><%= user.birthday %></td>
                    <td><%= user.role %></td>
                    <td><%= user.merchant_name %></td>
                    <td><%= user.owner_fname %></td>
                    <td><%= user.owner_lname %></td>
                    <td><%= user.email %></td>
                    <td><%= user.contact_num %></td>
                    <td><%= user.address %></td>
                    <td><%= user.balance %></td>
                    <td><%= user.user_type %></td>
                    <td><%= link_to '', user, :class => 'btn btn-info glyphicon glyphicon-eye-open'%></td>
                    <td><%= link_to '', edit_user_path(user), :class => 'btn btn-secondary glyphicon glyphicon-pencil'%></td>
                    <td><%= link_to '', user, method: :delete, data: { confirm: 'Are you sure you would want to delete this?' }, :class => 'btn btn-primary glyphicon glyphicon-remove' %></td>


                </tr>
                <% end %>
            </tbody>
        </table>
        </div>
    </div>
</div>
</body>
</html>
