<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MagisCoin - Admin</title>

  <!-- Custom fonts for this theme -->
  <link href="../../stylesheets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="../../stylesheets/css/freelancer.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<script type="text/javascript">
  	function chck(){
		if(document.getElementById('pass').value == document.getElementById('check').value){
			document.getElementById('mybtn').disabled = false;
			document.getElementById('errmsg').innerHTML = "The password matches";
			document.getElementById('errmsg').style.color = "green";

		}
		else if ( document.getElementById('pass').value == null && document.getElementById('check').value == null){
			document.getElementById('errmsg').innerHTML = "The textbox is empty";
		}
		else{
			document.getElementById('errmsg').innerHTML = "The password does not match";
			document.getElementById('errmsg').style.color = "red";
		}
	}
  </script>

<body id="page-top">
<p id="notice"><%= notice %></p>
<%= form_for(@user, :url=>{:action => 'create_admin'}) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  	<div class="row">
  		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
              <div class="col-sm-12">
                  <h2>Create Admin Account</h2>
                  <div class="col-xs-12 col-sm-8">
                      <p class="text center" id="notice"><%= notice %></p>
                    <p><strong>First Name:</strong> <%= form.text_field :f_name %></p>
                    <p><strong>Last Name:</strong> <%= form.text_field :l_name %></p>
                    <p><strong>Role:</strong> <%= form.text_field :role %></p>
                      <p><strong>Birthday: </strong> <%= form.date_select :birthday, :start_year => Date.current.year, :end_year => 1920 %></p>
                        <p><strong>Email: </strong> <%= form.text_field :email %> </p>
                      <p><strong>Contact No. </strong> <%= form.number_field :contact_num , :maxlength => 11%> </p>
                      <p><strong>Address: <%= form.text_field :address %></p>
                        <h2><strong>Security Questions</strong></h2>
                        <h4>Who is your favorite aunt?<%= form.text_field :question_1%></h4><br>
                        <h4>What is the name of your first pet?<%= form.text_field :question_2%></h4><br>
                        <h4>Who is your father?<%= form.text_field :question_3%></h4><br>
                  </div>
                  <div class="col-xs-12 col-sm-4 emphasis text-center divider">
                    <h2><strong>PIN <%= form.password_field :password_digest, :id=>"pass", :size=>"5px", :onkeyup=>"chck()", :maxlength => 6%></strong></h2>
                    <h2><strong>Confirm PIN <%= form.password_field :password_digest, :id=>"check", :size=>"5px", :onkeyup=>"chck()", :maxlength => 6%></strong></h2>
                    <p><small>6 Digit Pin Code</small></p>
                    <%= form.submit class: "btn btn-success btn-block", style: "color:white;", :id=>"mybtn", :disabled=>true  %>
                    <small id="errmsg"></small><br>
                      <%= link_to ' Go Back', users_path, :class => "btn btn-secondary btn-block fa fa-hand-o-left", :style => "color:white;" %>
                  </div>
                  <%end%>
      	 </div>
  		</div>
  	</div>
  </div>

</body>
</html>
