<h1>Load a User</h1>

<%= form_for(@user, :url=>{:action => 'payment'}) do |form| %>

  <div class="field">
    <%= form.label "User ID of sender"%>
    <%= form.text_field :id%>
  </div>

  <div class="field">
    <%= form.label "Amount to send" %>
    <%= form.text_field :balance %>
  </div>

  <div class="field">
    <%= form.label "User ID of receiver"%>
    <%= form.text_field :id%>
  </div>

  <div class="actions">
    <%= form.submit "Send Amount"%>
  </div>

  <%= link_to 'Back', users_path %>
<% end %>
