<%= form_with(model: purchase, local: true) do |form| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :send_id %>
    <%= form.number_field :send_id %>
  </div>

  <div class="field">
    <%= form.label :recv_id %>
    <%= form.number_field :recv_id %>
  </div>

  <div class="field">
    <%= form.label :purchase_type %>
    <%= form.text_field :purchase_type %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :date_time %>
    <%= form.datetime_select :date_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
