<p id="notice"><%= notice %></p>

<p>
  <strong>Send:</strong>
  <%= @receive_load.send_id %>
</p>

<p>
  <strong>Recv:</strong>
  <%= @receive_load.recv_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @receive_load.amount %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @receive_load.date_time %>
</p>

<%= link_to 'Edit', edit_receive_load_path(@receive_load) %> |
<%= link_to 'Back', receive_loads_path %>
