<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <div class="col-sm-12">
                <h2>Transaction Details</h2>
                <div class="col-xs-12 col-sm-8">
                    <p class="text center" id="notice"><%= notice %></p>
                    <p>
                      <strong>Sender's ID:</strong>
                      <%= @transaction.send_id  %>
                    </p>
                    <p>
                      <strong>Receipient's ID:</strong>
                      <%= @transaction.recv_id %>
                    </p>

                    <p>
                      <strong>Card ID:</strong>
                      <%= @transaction.card_id %>
                    </p>

                    <p>
                      <strong>Purchase Type:</strong>
                      <%= @transaction.purchase_type %>
                    </p>

                    <p>
                      <strong>Amount:</strong>
					  <%= number_to_currency(@transaction.amount, unit: "PHP", precision: 2) %>
                    </p>

                    <p>
                      <strong>Time Recorded:</strong>
                      <%= @transaction.time_recorded %>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis text-center divider">
                    <%= link_to ' Edit Transaction', edit_transaction_path(@transaction), :class => "btn btn-secondary btn-block fa fa-edit", :style => "color:white;" %>
					<%= link_to ' Go Back', transactions_path, :class => "btn btn-secondary btn-block fa fa-hand-o-left", :style => "color:white;" %>
                </div>
    	 </div>
		</div>
	</div>
</div>
